<li>
	<%= content_tag 'span', 'Move', class: 'handle', data: { url: task_path(incomplete_task) } %>
	<%= checkbox_for_task incomplete_task, complete_task_path(incomplete_task) %>
	<%= label_for incomplete_task %>
	<%= link_to_remove incomplete_task %>
</li>