<div id="ajax-error"></div>

<div class="content">
	<h2>To do</h2>
	<ul id="incomplete-tasks">
		<%= task_list.todo.render(self) %>
	</ul>

	<a href="#" id="add-task">Add task</a>
	<div id="add-task-form" style="display:none">
		<%= render "form", task: task_list.blank_task %>
	</div>

	<h2>Completed</h2>
	<ul id="complete-tasks">
		<%= task_list.completed.render(self) %>
	</ul>
</div>