// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	line-height: 1.5em;
	background: #eef;
}

#content {
	clear: both;
	width: 960px;
	margin: 20px auto;
	background: #fff;
	padding: 40px;
	border: 1px solid #eee;
}

.alert {
	text-align: center;
	background: #933;
	color: #fff;
}

.notice {
	text-align: center;
	background: #ffc;
	color: #000;
}

#complete-tasks {
	li {
		label {
			text-decoration: line-through;
		}
	}
}

#complete-tasks, #incomplete-tasks {
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		list-style: none;
		
		label.loading {
			background: url(ajax-loader.gif) left top no-repeat;
			color: transparent;
		}
	}
}

.spinner {
	display: inline-block;
	width: 16px;
	height: 16px;
}

.spinning {
	background: url(ajax-loader.gif) left top no-repeat;
}

.sortable-dragging {
	border: 2px solid #f00;
}

.sortable-placeholder {
	background: #ccc;
	height: 1.5em
}

.done { 
	text-decoration: line-through; 
}

.handle {
	cursor: move;
}

.date {
	font-size: .9em;
}

input[type="text"] {
	width: 300px;
}

.field_with_errors {
	display: inline-block;
	border: 2px solid #f00;
}
.error_msg {
	color: #f00;
	font-weight: bold;
}

.user-info {
	font-size: 0.9em;
	text-align: right;
}
